@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-in;
}
.sidebarOption > .MuiSvgIcon-root {
  padding: 15px;
  font-size: 25px !important;
}

.sidebarOption > h2 {
  font-weight: 400;
  font-size: 20px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
