.like {
  background-position: 100% 0;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.like:hover {
  color: crimson;
}
.text-dark {
  font-size: 14px;
  margin-left: -5px;
}
