.widgets {
  flex: 0.3;
  /* width: 300px; */
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 20px;
  border-radius: 35px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
  outline: none;
}

input::placeholder {
  font-size: 17px;
  font-weight: bold;
  
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
  width: 400px;
}

.widgets__widgetContainer > h2 {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
